{% extends 'header.html' %}

{% block content %}
  <h1>Главная страница</h1>
  <h2>Добро пожаловать на мой сайт, {{Name}}!</h2>

  <p>Это сайт, написанный мною на flask. Здесь вы видите, как я умею писать описание для сайтов и станиц)</p>
  <p>Следующие предложение будет меняться в зависимости от имени:</p>
  {% if Name == 'Друг' %}
  <h3> Назовись, Друг, а то слишком скучно. <a href="/what_is_name"> Тыкай сюда </a> </h3>
  {% else %}
  <h3> Урааааааааааааа, молодец!!!!!!. <a href="/what_is_name"> Переименоваться </a> </h3>
  {% endif %}
  <p>Ну и вставлю картинку от Нееросетки для красоты (она меняется при обновлении страницы)</p>
  <img src={{screen}}>

{% endblock %}